html {
    background-color: rgba(68, 84, 106, 0.93);
    font-size: medium;
}

.container {
    background-color: white;
    padding-left: 2rem;
    padding-right: 2rem;
}

.input-field{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#contactme-modal .modal-content {
    padding-bottom: 0;
}

#contactme-modal .row {
    margin-bottom: 0;
}

#contactme-modal textarea {
    margin-bottom: 0;
}

#message-wrapper{
    margin-bottom: 0;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 55%;
    }
}

@media only screen and (max-width: 430px) {
    .container {
        width: 100%;
    }
}

.section {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.social-profile-link {
    display: flex;
}

#social-buttons a {
    margin: 0 0.75rem;
}

#social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-row {
    display: contents;
}

@media only screen and (max-width: 610px){
    #social-buttons {
        display: block;
    }     

    .buttons-row {
        display: flex;
        justify-content: space-evenly;
        margin-top: 1rem;
        margin-bottom: 1rem; 
    }
}
